body {
  background-color: white;
}

/* Navbar */

.navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.navbar.transparent {
  background-color: transparent;
}

.navbar.scrolled {
  background-color: #01213b;
}


.nav-link,
.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 1.5vw;
}

.navbar-brand {
  font-size: 2vw;
}

.nav-link:hover,
.navbar-brand:hover {
  color: #31bd7b;
}

.ture {
  color: #31bd7b;
}

.navbar-nav {
  gap: 1rem;
}

/* Header */

header {
  margin-top: 10vh;
}

.headerImg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  z-index: -1;
  object-fit: cover;
  object-position: 50% 50%;
  mask-image: linear-gradient(black 90%, transparent);
}

.container h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 10%;
  color: white;
}

.subhead {
  color: #31bd7b;
}

.search {
  margin-bottom: 5vh;
  margin-top: 20vh;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {

  font-size: 1.2rem;
  font-weight: bold;
  width: 70%;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.336);
  color: white;
}

.search input:focus {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.336);
  color: white;
}

.search button {
  font-size: 1.2rem;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  width: 15%;
}

.search input::placeholder {
  color: rgba(255, 255, 255, 0.336);
}

/* Section */

.topDes {
  margin-top: 15vh;
  margin-bottom: 15vh;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.card {
  margin-top: 5vh;
}

/* Login */

.login-page {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.login-header img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.login-body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
}

.login-container img {
  height: 30%;
  width: 50%;
  min-width: auto;
  object-fit: cover;

}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-form h1 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.login-form h5 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.login-form input {
  width: 120%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.login-btn {
  width: 120%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #31bd7b;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.back-btn {
  width: 120%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: red;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.link-register {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.link-register a {
  color: #31bd7b;
  font-weight: bold;
  text-decoration: none;
}

/* Promo */

.offers {
  padding: 1rem;
  margin-bottom: 15vh;
}

.card-body h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-body p {
  font-size: 1.2rem;
  font-weight: medium;
}

.btn-carousel button {
  border: none;
  background: none;
}

.title-promo {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.title-promo h1 {
  font-size: 2vw;
  font-weight: bold;
  color: black;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

.title-promo button {
  border: none;
  background: none;
  font-size: 1.5vw;
  font-weight: bold;
  color: #31bd7b;
  cursor: pointer;
  outline: none;
}

.img-promos img {
  width: 50vw;
  height: 50vh;
  object-fit: cover;

}

.card-promos h5 {
  text-align: center;
  font-size: 3vw;
  margin-bottom: 8vh;
  margin-top: 2vh;
  color: #31bd7b;

}

.card-promos p {
  text-align: center;
}

.card-promos button{
  display: block;
  margin: auto;
  margin-top: 10vh;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #31bd7b;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.card-promos a{
  text-decoration: none;
}

.code-promo {
  margin-top: 2vh;
  font-size: 2vw
}