body {
  background-color: black;
}

/* Navbar */

.navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.navbar.transparent {
  background-color: transparent;
}

.navbar.scrolled {
  background-color: #01213b;
}


.nav-link,
.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 1.5vw;
}

.navbar-brand {
  font-size: 2vw;
}

.nav-link:hover,
.navbar-brand:hover {
  color: #31bd7b;
}

.ture {
  color: #31bd7b;
}

.navbar-nav {
  gap: 1rem;
}

/* Header */

.headerImg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  z-index: -1;
  object-fit: cover;
  object-position: 50% 50%;
  mask-image: linear-gradient(black 90%, transparent);
}