body {
  background-color: white;
}

@media screen {
/* Navbar */

.navbar {
  padding: 1vw;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.navbar.transparent {
  background-color: transparent;
}

.navbar.scrolled {
  position: sticky;
  background-color: #ffffff;
  border-bottom: 3px solid #efefef;
  top: 0;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.additional-info {
  display: flex;
  margin-top: 2vh;
  margin-right: 10vw;
}

.additional-info a {
  color: #000000;
  margin-left: 20px;
  text-decoration: none;
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

.additional-info a:hover {
  text-decoration: underline;
}

.navbar-brand {
  font-size: 3vw;
  margin-top: 2vh;
  color: #098d62;
}

.nav-link {
  color: #000000;
  font-size: 20px;
  margin-top: 2vh;
}

.auth-nav {
  display: flex;
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
  font-weight: lighter;
  margin-top: 1.4vh;
}

.nav-login {
  gap: 1vw;
  border-right: 1px solid black;
  padding: 0px;
  padding-right: 1vw;
}

.nav-register {
  gap: 1vw;
  padding: 0px;
  padding-left: 1vw;
}

.nav-link:hover,
.navbar-brand:hover {
  color: #31bd7b;
}

/* Header */

header {
  margin-top: 5vh;
}

.headerImg{
  display: flex;
  justify-content: center;
}

.headerImg img {
  position: absolute;
  width: 85vw;
  height: 57vh;
  z-index: -1;
  object-fit: cover;
  border-radius: 24px;
  justify-content: center;
}

/* sectionHeader */

.links{
  width: 39vw;
  height: 8vh;
  margin-top: 53vh;
  margin-left: 29vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
  gap: 5vw;
  background-color: #f6f6f6;
  border-radius: 50px;
  box-shadow: 2px 2px 2px rgb(9, 141, 98, 0.4);
}

.links-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.links-item a{
  color: #000000;
  font-size: 1.2vw;
  margin-left: 20px;
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
  font-weight: lighter;
  text-decoration: none;
}

.Country-link{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Offer-link{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Offer-link i{
  margin-left: 20px;
}

.Vacations-link{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Vacations-link i {
  margin-left: 40px;
}

.Country-links{
  padding-right: 20px;
}

.Offer-links{
  padding-right: 30px;
  padding-left: 30px;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}

.Vacations-links{
  padding-left: 20px;
}

.links-item a:hover{
  color: #098d62;
}

/* Section */

.Country {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.card-country{
  margin-top: 2vh;
}

.Country-title{
  display: flex;
  justify-content: space-between;
  color: #434343;
  font-size: 30px;
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
}

.view-more{
  font-size: 20px;
  margin-top: 20px;
  padding-right: 17px;
  color: #434343;
}

.view-more:hover{
  color: #098d62;
}

.card-country img{
  width: 95%;
  height: 30vh;
  border-radius: 17px;
}

.card-country p{
  font-size: 20px;
  margin-left: 20px;
  color: #434343;
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
}

/* Promo */

.offers {
  padding: 1rem;
}

.title-promo {
  font-size: 40px;
  color: #434343;
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
  margin-bottom: 2vh;
  margin-top: 10vh;
}


.card-body p {
  font-size: 1.2vw;
  font-weight: medium;
}

.btn-carousel button {
  border: none;
  background: none;
}

.title-promo {
  justify-content: space-between;
  display: flex;
  align-items: center;
}


.title-promo button {
  border: none;
  background: none;
  font-size: 1.5vw;
  font-weight: bold;
  color: #098d62;
  cursor: pointer;
  outline: none;
}

.img-promos img {
  width: 100%;
  height: 50vh;
  object-fit: cover;

}

.card-promos h5 {
  text-align: center;
  font-size: 2vw !important;
  margin-bottom: 8vh;
  margin-top: 2vh;

}

.card-promos p {
  text-align: center;
}

.card-promos button {
  display: block;
  margin: auto;
  margin-top: 10vh;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #098d62;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.card-promos a {
  text-decoration: none;
}

.code-promo {
  margin-top: 2vh;
  font-size: 2vw;
  color: #098d62;
}

/* Vacations */

.vacations-title{
  margin-top: 10vh;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-between;
  color: #434343;
  font-size: 30px;
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
}

.title-vacations{
  margin-top: 2vh;
}

.card-vacations img{
  width: 95%;
  height: 30vh;
  border-radius: 17px;
  object-fit: cover;
}

.card-vacations h3{
  font-size: 20px;
  color: #434343;
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
}

.location-vacations{
  display: flex;
}

.location-vacations p{
  font-size: 12px; 
}

.city-vacations{
  border-right: 1px solid #434343;
  padding-right: 10px;
}

.province-vacations{
  margin-left: 10px !important;
}

.price {
  display: flex;
}

.price p{
  font-size: 15px;
}

.original-price {
  margin-top: 1vh;
  text-decoration: line-through;
  color: #888 !important;
}

.discounted-price {
  color: white !important;
  border: 1px solid #098d62;
  background-color: #098d62;
  padding: 5px;
  border-radius: 6px;
  margin-left: 10px;
}

.activity-button{
  width: 95%;
  height: 7vh;
  border: none;
  background-color: #098d62;
  border-radius: 0px 0px 13px 13px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
  margin-bottom: 10vh;
  font-size: 13px;
}

.activitys-button{
  width: 100%;
  height: 7vh;
  border: none;
  background-color: #098d62;
  border-radius: 0px 0px 13px 13px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
  margin-bottom: 10vh;
  font-size: 13px;
}

/* footer */

.footer {
  margin-top: 10vh;
  background-color: white;
  padding: 60px 0;
  border-top: 1px solid #d1d1d1;
}

.footer h5 {
  color: black;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer p {
  font-size: 14px;
  line-height: 24px;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer ul li {
  margin-bottom: 10px;
}

.social-icons {
  padding: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li a {
  color: black;
  font-size: 24px;
}

/* Country */

.back-button{
  display: flex;
  margin-top: 10vh;
  gap: 5px;
  margin-bottom: 7vh;
}

.back-button i{
  font-size: 2vw;
  color: #434343;
}

.back-button a{
  font-size: 2vw;
  color: #434343;
  text-decoration: none;
}

.card{
  border-radius: 10px 10px 0px 0px;
}

.card-img{
  border-radius: 10px 10px 0px 0px;
  height: 35vh;
}

.card-body h5{
  font-size: 20px;
  color: #434343;
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
  font-weight: lighter;
}

/* promopage */

.card-text{
  color: #434343;
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
  font-weight: lighter;
}

.card-text p{
  font-size: 15px;
}

.promo-code{
  display: flex;
  gap: 5px;
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
  font-weight: lighter;
  margin-top: 20px;
}

.promo-code p{
  color: #434343;
  font-size: 17px;
}

.promo-code h5{
  color: #098d62;
  font-size: 18px;
  margin-top: 2.5px;
}

/* Login */

.login-page {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.login-header img {
  width: 99vw;
  height: 100vh;
  filter: brightness(50%);
  position: absolute;
}

.login-body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 17px;
  perspective: 2700px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
}

.login-container img {
  margin-right: 1vw;
  height: 30%;
  width: 50%;
  min-width: auto;
  object-fit: cover;

}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-form h1 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.login-form h5 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.login-form input {
  width: 120%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.login-btn {
  width: 120%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #31bd7b;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.back-btn {
  width: 120%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: red;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.link-register {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.link-register a {
  color: #31bd7b;
  font-weight: bold;
  text-decoration: none;
}

/* banner */

.banner img {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
}

/* dashboard */

.dashnav {
  background-color: #f1f2f7;
  color: #878d96;
  width: 40vh;
  height: 100vh;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.dashnav-brand {
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #878d96;
}

.dashnav-brand span {
  color: #31bd7b;
}

.dash-link {
  color: #878d96;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.dash-link.active {
  background-color: #e4e7f4;
  border-radius: 10px;
  color: #31bd7b;
}

/* user */

.alluser {
  margin-left: 1vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #e2e0e0;
  padding: 10px;
  gap: 10px;
}

.alluser img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  filter: drop-shadow(5px 5px 5px rgb(73, 73, 73));
}

.alluser p {
  margin: 0;
  margin-left: 10px;
  font-weight: bold;
  color: #878d96;
}

.prolifenavb{
  padding: 1rem;
  display: flex;
  justify-content: end;
  margin-right: 2vw;
}

.profileNav img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1vw
}

.profileNav a{
  color: #000000;
  text-decoration: none;
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

.imageActivityId img{
  width: 100%;
  height: 70vh;
  border-radius: 17px;
  object-fit: cover;
}

.back-buttonid{
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  gap: 5px;
  margin-bottom: 7vh;
}

.back-buttonid i{
  font-size: 2vw;
  color: #434343;
}

.back-buttonid a{
  font-size: 2vw;
  color: #434343;
  text-decoration: none;
}

.bodyActivityId h3{
  font-size: bold;
  font-size: 20px;
  margin-top: 3vh;
  color: #098d62;
}

.bodyActivityId h5{
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
  font-size: 16px;
  color: #434343;
}

.ratingActivity{
  margin-top: 2.5vh;
}

.ratingActivity p{
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
  font-size: 1vw;
  color: #434343;
  font-weight: bold;
}

.rating-vacations {
  font-family: AmsiProCond-Bold, sans-serif;
}

.rating-vacations i{
  font-size: 2vh;
  color: #ff5b00;
}

.adressActivity{
  margin-top: 3vh;
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
  font-size: 16px;
  color: #434343;
  font-weight: lighter;

}

.adressActivity i{
  color: #098d62;
  font-size: 1vw;
  margin-right: 0.6vw;
}

.activityBackButton{
  justify-content: space-between;
}

.prices{
  border: 1px solid #d1d1d1;
  color: #888888;
  border-radius: 5px;
  margin-top: 10vh;
}

.original-prices{
  text-decoration: line-through;
}

.paybtn button{
  justify-content: center;
  
}

.locations iframe {
  width: 100%;
  height: 60vh;
  border-radius: 17px 
}

.locationn{
  margin-top: 2vh;
}

.locationn i{
  color: #098d62;
}

.locationn p{
  font-family: AmsiPro-Regular, AmsiPro-Light, AmsiPro-XLight, sans-serif;
  font-size: 16px;
  color: #434343;
  font-weight: lighter;
  margin-bottom: 3vh;
}

.normal-price{
  margin-top: 5vh;
}

.discountPrice{
  margin-top: 5vh;
}

/* CSS Styling untuk Tombol Toggle */

.password-toggle {
  position: absolute;
  top: 50%;
  right: 120px;
  transform: translateY(-110%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.repeatpassword-toggle {
  position: absolute;
  top: 50%;
  right: 120px;
  transform: translateY(140%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.form-selecttt{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
  margin-top: 3vh;
}

.form-selecttt button {
  background-color: #098d62;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-selecttt button:hover {
  background-color: #0056b3;
}

.form-selecttt select {
  margin-top: 0.8vh;
  width: 200px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  cursor: pointer;
}
}


@media screen and (max-width: 700px) {
  .login-page img {
    display: none;
  }

  .login-container {
    flex-direction: column;
  }

  .login-container img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

}